
<body ng-controller="Home">
   
    <form >
        <input id="ServerName" placeholder="Введите имя сервера" type="text" maxlength="42"class="uk-form-width-medium" />
        <button class="uk-button" type="button" ng-click="Generate_Background()">Сгенерировать фон</button>
     
    </form>

    <div style="clear:both;"></div>
    <br />
    <div class="uk-container-center">
        <img id="image" width="550" height="400" ng-src="data:image/JPEG;base64,{{Image}}" />
    </div>
    
    <br />
    <button class="uk-button" id="Download_button"ng-click="Download_Background()">Скачать</button>
</body>